  <form action="/cal" class="form-horizontal" role="form" style="width: 50%;">
        <label >number 1</label>
            <input type="text" class="form-control" id="human" name="num_one">
        <label for="human" class="col-sm-2 control-label">number 2</label>
            <input type="text" class="form-control" id="human" name="num_two">
            <input id="submit" name="submit" type="submit" value="+" class="btn btn-primary">
            <input id="submit" name="submit" type="submit" value="-" class="btn btn-primary">
            <input id="submit" name="submit" type="submit" value="*" class="btn btn-primary">
            <input id="submit" name="submit" type="submit" value="/" class="btn btn-primary">
</form>